<form action="/paper" method="POST">
	<input type="text" name="title">
	<textarea name="abstract"></textarea>
	<input type="hidden" name="_method" value="PUT"/>
	<input type="submit" name="create"/>
</form>
